
.pacifico-regular {
            font-family: "Pacifico", cursive;
            font-weight: 400;
            font-style: normal;
        }  

.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 600;
  font-style: normal;
}


        @keyframes extendBox {
            0% {
            width: 150px;
            height: 200px;
            }
            100% {
            width: 200px;
            height: 450px;
            background-color: rgb(201, 14, 14);
            }
        }

        .welcome{
            text-align: center;
            font-size: 2rem;
        }
        .welcome-sub{
            text-align: center;
            font-size: 1.5rem;
        }
            
        body{
            background-color: antiquewhite;         
        }
        .hero-section{
            text-align: center;
        }
        .page-heading{
            margin-bottom: 10px;
        }
        .subtitle{
            margin-bottom: 10px;
        }

        .boxes{
            padding: 0;
        }

        .box-container{
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: row-reverse;
            justify-content: center;                          
        }

        .box-1, .box-2, .box-3{
            display: flex;
            max-height: 550px;
            border: 10px solid black;
            background-color: rgb(160, 2, 2);
            color: aliceblue;
            position: relative;
            height: 150px;
            width: 100px;
            padding: 5px;
            justify-items: center;
            align-items: center;
            text-align: center;
            position: relative;
            margin-bottom: 50px;

        }

        .box-2{
            flex: wrap;
            border-radius: 20px;
            height: 200px;
            animation: extendBox 2s infinite alternate;
            font-size: 1.7rem;
        }

        .box-1, .box-3{
            border-radius: 85%;   
            justify-content: center;  
            justify-items: center;
            align-items: center;
            text-align: center;
            position: relative; 
        }
        .shuna{
            color: crimson;
            font-size: 1.5rem;
        }
        .amar{
            color: royalblue;
            font-size: 1.3rem;
        }

        .gif-container{
            max-width: 100%;
            display: flex;
            text-align: center;
            justify-content: space-evenly;
        }


        @media screen and (max-width: 576px) {
            .box-container, body{
                margin: 0 auto;
            }            
        }
